@import "../../index.scss";

.form__label {
  width: 220px;

  font-weight: $medium;
  font-size: $normal;

  display: flex;
  flex-direction: column;
  gap: 7px;
}

.edit--mode {
  width: 175px;
}

.form__input {
  width: 90%;
  height: 35px;

  padding: 0 7px;

  font-family: 'Ubuntu', sans-serif;
  color: $secondary-color;

  border: 1px solid $secondary-color;
  border-radius: $border-radius-small;
}

.form__input:focus {
  outline: none;
}

.input--error {
  border: 1px solid $danger-color;
}

.error-message {
  margin: 0;
  padding: 0 5px;
  font-size: 12px;
  color: $danger-color;
}