@import "../../index.scss";

.button {
  width: 100px;
  height: 40px;

  color: $white;
  font-weight: $medium;
  font-size: $normal;

  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  border-radius: $border-radius-small;
  cursor: pointer;
}

.button:active {
  box-shadow: inset 5px 5px 10px -3px $box-shadow;
  transform: translateY(3px);
}