@import '../../index.scss';

.form {
  padding: 20px 15px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 30px;

  border-radius: $border-radius-medium;
  box-shadow: 3px 3px 7px $secondary-color;
}

.inputs__block {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}