@import '../../index.scss';

.todolist__block {
  width: 100%;
  margin: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.todolist-list__block {
  width: 550px;
  max-width: 60%;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}