@import '../../index.scss';

.userslist__block {
  max-width: 600px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.userlist__headings--block {
  padding: 15px 0;
  display: flex;
  justify-content: space-around;
  border-radius: $border-radius-medium;
  box-shadow: 3px 3px 7px $secondary-color;
}

.userlist__headings {
  font-size: $large;
  font-weight: $bold;
}

.userslist {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}