@import '../../index.scss';

.user__page__block {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.user__page__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user__page__heading {
  color: $secondary-color;
}